<!DOCTYPE html>
<html lang="en" ng-app="sample">
  <head>
    <meta charset="utf-8"/>
    <title>Calliper Sample Application</title>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-mocks.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>

    <h1>Sample Application</h1>

    <div id="notifications" ng-controller="NotificationListCtrl">
      <h2>Notifications:</h2>

      <button class="toggle-notifications" ng-click="toggleNotifications()">
        Toggle Notifications
      </button>

      <ul ng-if="notifications" class="notification-list">
        <li ng-repeat="notification in notifications" class="notification">
          <span class="notification-id">{{notification.id}}</span>:
          <span class="notification-message">{{notification.message}}</span>
        </li>
      </ul>
    </div>

    <div id="messages" ng-controller="MessageCtrl">
      <h2>Messages:</h2>

      <ul class="message-list">
        <li ng-repeat="message in messages">
          <span>{{message.id}}</span>:
          <span>{{message.body}}</span>
        </li>
      </ul>

      <form class="message" ng-submit="postMessage()">
        <p class="field">
          <label for="message_body">Your message:</label><br/>
          <textarea id="message_body" ng-model="message.body"></textarea>
        </p>

        <p class="buttons">
          <input type="submit" value="Post Message"/>
        </p>
      </form>
    </div>

  </body>
</html>
